body{
  max-width: 100vw;
  background-color: #121212;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

html, body, #root {
  height: 100%;
}

.Feeding-form input, .Feeding-form select {
  border-bottom: 1px solid #C0C0C0;
  width: 100%;
  color: #FFFFFF80;
  padding: 0.15rem;
  outline: none;
}

.Feeding-form label input[type="checkbox"] {
  width: fit-content;
}